<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Flux</title>
    <link rel="stylesheet" href="static/css/about.css">
    <link href="https://fonts.cdnfonts.com/css/arkhip" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/beach-lombok" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <!-- Top Navigation Bar -->
        <div class="navbar">
            <div class="menu">
                <a href="#"><i class="fa fa-bars" aria-hidden="true"></i>Menu</a>
                <a href="#" class="search"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
            </div>
            <div class="brand">
                <p>CARBON FLUX</p>
            </div>
            <div class="wishlist">
                <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x"></i></i></a>
                <a href="/login"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>

    <!-- Carousel section -->
        <div class="carousel"> 
            <div class="slide">
                <img src="static/images/about/green-forest.jpg" alt="Slide 1">
                <div class="image-overlay">
                    <p>Carbon reserve</p>
                </div>
                <div class="text-container">
                    <p>Exploring Earth's Carbon Pool: Nature's Vital Reservoir for Absorbing and Storing Carbon, Crucial for Climate Stability</p>
                </div>
            </div> 
            <div class="slide">
                <img src="static/images/about/sunset.jpg" alt="Slide 1">
                <div class="image-overlay">
                    <p>Topography</p>
                </div>
                <div class="text-container">
                    <p>Unlocking Nature's Terrain: Topography's Role in Carbon Storage.</p>
                </div>
            </div>
            <div class="slide">
                <img src="static/images/about/map.jpg" alt="Slide 1">
                <div class="image-overlay">
                    <p>Storymaps</p>
                </div>
                <div class="text-container">
                    <p> Mapping Nature's Story of Conservation, Where Every Point on the Map Tells a Tale of Preservation and Restoration.</p>
                </div>
            </div> 
        </div>

        <!-- Information section -->
        <div class="infographic">
            <div class="infographic-container1">
                <div class="text-container">
                    <p>Dive into an intuitive dashboard, where comprehensive data visualizations and metrics provide a bird's-eye view of carbon pools and ecosystem health.</p>
                </div>
                <div class="image-section">
                    <img src="static/images/about/dashboard.jpg" alt="Dashboard" height="300px">
                </div>
            </div>
            <div class="infographic-container2">
                <div class="image-section">
                    <img src="static/images/about/Interactive-webmap.png" alt="Interactive Web Map">
                </div>
                <div class="text-container">
                    <p>Immerse yourself in our interactive web map, a powerful tool for exploring the intricate landscape of aboveground biomass.</p>
                </div>
            </div>
            <div class="infographic-container3">
                <div class="text-container">
                    <p> Harness the power of machine learning to uncover hidden patterns biomass dynamics.</p>
                </div>
                <div class="image-section">
                    <img src="static/images/about/Machine-learning.jpg" alt="Machine learning Analytics" height="300px">
                </div>
            </div>
        </div>

    <!-- Adding Bootstrap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- Add script.js -->
    <script src="static/js/about.js"></script>
</body>

<footer>
    <div class="footer-wrapper1">
        <p>KE</p>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy & Cookies</a>
        <a href="#">Promotion Condition</a>
    </div>
    <div class="footer-wrapper2">
        <p>GIS & RS Analyst.</p>
        <p>Authorized User of Carbon Flux Trademarks.</p>
        <p>© 2024 Marquez Distribution Ltd</p>
    </div>
</footer>

</html>